body {width: 400px; margin: 0 auto; font-family: Arial; position: relative}
header {width: 100%; height: 50px; line-height: 54px; background: #093}
header a {color: #fff; font: bold 22px Arial; text-decoration: none; margin-left: 40px}
#logo {display: block; width: 50px; height: 50px; float: right; background-image: url(/img/logo-100x100.png); background-size: 50px 50px}
#sett {width: 100%; font-size: 13px; border-collapse: collapse}
input[type=text], input[type=number] {height: 26px; text-align: center; border: 2px solid #f1f1f1; box-sizing: border-box; border-radius: 4px}
input[type=number] {width: 50px; font-size: 16px}
input[type=color] {border: none; cursor: pointer}
#premcode {width: 125px; font: bold 18px Arial; text-transform: uppercase}
#premcode.valid {color: green}
#premcode-chck {position: absolute; top: 13px; left: -14px; display: block; width: 16px; height: 16px; font: bold 18px Arial; color: #fff; 
    background: #589d62 url(/img/plus.png) no-repeat 1px 1px; cursor: pointer; border-radius: 50%}
#premcode-chck.premcode-rmv {background-color: #fa8072; transform: rotate(45deg)}
#premcode-chck.premcode-none {background-color: #ccc}
#sett tr td {padding: 8px; position: relative}
#sett tr td:last-child {text-align: center}
#sett tr:nth-child(odd) {background: #f1f1f1}
#sett tr#prem, #prem-inf, #prem-pack-area {display: none; background: #E5F3FF}
#prem-err {display: none; color: red}
#prem-name, #prem-pack {font-weight: bold}
#prem p {margin: 5px 0}
button {display: block; width: 70%; margin: 30px auto 10px; height: 40px; background: #589d62; border: none; color: #fff; text-align: center; font: bold 15px 'Varela Round', sans-serif; border-radius: 4px; cursor: pointer}
button:hover, .radios label:hover, a:hover, #premcode-chck:hover {opacity: .7}
button:disabled {opacity: .7; cursor: not-allowed}
.switch {position: relative; display: inline-block; width: 50px; height: 26px}
.switch input {opacity: 0; width: 0; height: 0}
.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background: #ccc; border-radius: 34px; -webkit-transition: .4s; transition: .4s}
.slider:before {position: absolute; content: ""; height: 18px; width: 18px; left: 4px; bottom: 4px; background: #fff; border-radius: 50%; -webkit-transition: .4s; transition: .4s}
input:checked + .slider {background: #589d62}
input:checked + .slider:before {-webkit-transform: translateX(24px); -ms-transform: translateX(24px); transform: translateX(24px)}
.i {display: inline-block; margin-left: 3px; width: 14px; height: 14px; background: #ccc; color: #fff; font: normal 12px Arial; text-align: center; position: relative; border-radius: 7px}
.i:hover:after {content: attr(data-txt); width: 200px; position: absolute; bottom: 26px; left: -75px; background: rgba(0,0,0,.8); padding: 6px; text-align: left; color: #fff; font: normal 13px/15px Arial; border-radius: 4px}
.i:hover:before {content: ""; position: absolute; bottom: 8px; left: -2px; border: solid; border-width: 9px; border-color: rgba(0,0,0,.8) transparent transparent transparent}
.radios label span {display: inline-block; width: 62px; background: #ccc; color: grey; font: bold 12px Arial; padding: 5px 0; cursor: pointer; box-sizing: border-box; border-top-left-radius: 4px; border-bottom-left-radius: 4px}
.radios label:last-child span {border-left: 1px solid #f1f1f1; border-radius: 0; border-top-right-radius: 4px; border-bottom-right-radius: 4px}
.radios input:checked + span {background: #589d62; color: #fff}
.radios input {display: none}
#save-info {opacity: 0; color: green; font-size: 13px; text-align: center}
#save-info span {display: none}