<div id="iko-inf">
<div id="iko-txt-area">
<div id="iko-txt-corr"></div>
<div id="iko-lmt-wnd">
<ul id="iko-lmt">
<li>Poprawionych błędów: <span id="iko-corr-cnt">0</span></li>
<li>Długość tekstu źródłowego: <span id="iko-txt-len">0</span>/<span id="iko-txt-limit"></span></li>
<li>Sprawdzonych znaków dzisiaj: <span id="iko-today-chars-used">0</span>/<span id="iko-chars-limit"></span></li>
</ul>
</div>
<div id="iko-i">ℹ
<ul id="iko-menu">
<li><a href="https://ikorektor.pl/info" target="_blank" rel="noopener noreferrer">Informacje o korekcie</a></li>
<li><a href="https://ikorektor.pl/dodatki" target="_blank" rel="noopener noreferrer">Informacje o dodatku</a></li>
<li><a href="https://ikorektor.pl/kontakt?report" target="_blank" rel="noopener noreferrer" id="iko-report">Zgłoś błąd korekty</a></li>
<li><a href="" target="_blank" id="iko-sett">Ustawienia</a></li>
</ul>
</div>
</div>
<button type="button" id="iko-cancel" class="iko-btn">Anuluj</button>
<button type="button" id="iko-accept" class="iko-btn">Akceptuj i zamień</button>
</div>